.register {
  width: 385px;
  height: 89px;
  flex-shrink: 0;
  color: #000;
  text-align: center;
  font-family: "Red Hat Display";
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 938px;
  margin-right: 189px;
  margin-top: -771px;
}

.registerusername {
  width: 514px;
  height: 67px;
  flex-shrink: 0;
  background: #edf2f7;
  margin-left: 897px;
  margin-right: 126px;
  margin-bottom: 50px;
}

.registerusernamefont {
  width: 256px;
  height: 26px;
  flex-shrink: 0;
  color: rgba(0, 0, 0, 0.5);
  font-family: "Red Hat Display";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 66px;
  margin-left: 897px;
  margin-bottom: 50px;
}

.registeremail {
  width: 514px;
  height: 67px;
  flex-shrink: 0;
  background: #edf2f7;
  margin-left: 897px;
  margin-right: 126px;
  margin-bottom: 50px;
}

.registeremailfont {
  width: 256px;
  height: 26px;
  flex-shrink: 0;
  color: rgba(0, 0, 0, 0.5);
  font-family: "Red Hat Display";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 66px;
  margin-left: 897px;
}

.registerpassword {
  width: 514px;
  height: 67px;
  flex-shrink: 0;
  background: #edf2f7;
  margin-left: 897px;
  margin-right: 126px;
  margin-bottom: 50px;
}

.registerpasswordfont {
  color: rgba(0, 0, 0, 0.5);
  font-family: "Red Hat Display";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 256px;
  height: 26px;
  flex-shrink: 0;
  margin-top: 66px;
  margin-left: 897px;
}

.registerconfirmfont {
  width: 256px;
  height: 26px;
  flex-shrink: 0;
  color: rgba(0, 0, 0, 0.5);
  font-family: "Red Hat Display";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 66px;
  margin-left: 897px;
}

.registerconfirm {
  width: 514px;
  height: 67px;
  flex-shrink: 0;
  background: #edf2f7;
  margin-right: 126px;
  margin-left: 897px;
  margin-bottom: 50px;
}

.registerbutton {
  width: 460px;
  height: 71px;
  flex-shrink: 0;
  border-radius: 70px;
  background: #5ec5ff;
  box-shadow: 10px 0px 4px 0px rgba(0, 0, 0, 0.25);
  margin: 50px auto 280px; /* Center horizontally and set vertical margins */
  display: flex;
  align-items: center;
  justify-content: center;
  border: none; /* Remove default border */
  cursor: pointer; /* Add pointer cursor */
  transition: background 0.3s ease; /* Add transition for hover effect */
  color: #fff; /* Text color */
  text-align: center;
  font-family: "Red Hat Display"; /* Ensure a fallback font */
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 50px;
  margin-left: 938px;
  margin-bottom: 280px;
  margin-right: 126px;
}

.registerbutton:hover {
  background: #4da1d8; /* Darker shade for hover effect */
}
